<ion-header [translucent]="true">
  <ion-toolbar color="app">
    <ion-title class="ion-text-center">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card">
    <img src="/assets/images/profile_pic_cuted.jpg" class="profile-pic" alt="Miguel" style="width:100%">
    <h1>Miguel Silva</h1>

    <p class="title">Licenciatura Engenharia Informática</p>
    <p>IPVC - ESTG</p>
    <div class="links"> 
      <a href="https://github.com/mayday13x"><ion-icon class="icon-large" name="logo-github"></ion-icon></a>
      <a href="https://instagram.com/dasilva._miguel"><ion-icon class="icon-large" name="logo-instagram"></ion-icon></a>
      <a href="mailto:mjosea@ipvc.pt"><ion-icon class="icon-large" name="mail-outline"></ion-icon></a>
    </div>
  </div>
  
    <ion-list [inset]="true" lines="full" class="ion-text-center">
      <ion-list-header>
        <ion-title>Interesses/Habilidades</ion-title>
      </ion-list-header>
      <ion-item>
        <ion-label>Programação</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>✨ Comer ✨</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cybersecurity</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dormir</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Futebol</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Comer, já disse ?</ion-label>
      </ion-item>
    </ion-list>

    <ion-grid class="ion-align-self-center">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <strong><ion-label>Desenvolvido com:</ion-label></strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div class="dev-icons">
            <ion-icon class="icon-large" name="logo-ionic"></ion-icon>
            <ion-icon class="icon-large" name="logo-html5"></ion-icon>
            <ion-icon class="icon-large" name="logo-sass"></ion-icon>
            <ion-icon class="icon-large" name="logo-angular"></ion-icon>
            <ion-icon class="icon-large" name="logo-nodejs"></ion-icon>
            <ion-icon class="icon-large" name="logo-javascript"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
