<ion-header [translucent]="true">
  <ion-toolbar color="app">
    <ion-title class="ion-text-center">
      Locais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Locais a visitar</ion-title>
    </ion-toolbar>
  </ion-header>
 <h3 class="ion-text-center">Locais para provar a gastronomia e os produtos cultivados na cidade</h3>
  <ion-grid class="ion-align-self-center">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img alt="Mercado" src="/assets/images/merc_municial.jpg" />
          <ion-card-header>
            <ion-card-title>Mercado Municipal Póvoa de Varzim</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            O Mercado Municipal da Póvoa de Varzim, situado na Praça do Marquês de Pombal, é mais do que um simples local de compras. É um vibrante centro da cultura local,
            um ponto de encontro para a comunidade.
            Aqui encontra produtos frescos, cultivados e pescados na região, bem como uma vasta seleção de 
            produtos locais e artesanais.
          </ion-card-content>
          <div class="ion-text-center ion-padding-bottom">
            <ion-button color="app" href="https://www.google.com/maps/place/Mercado+Municipal+da+P%C3%B3voa+de+Varzim/@41.3812387,-8.7618634,15z/data=!4m6!3m5!1s0xd24473026e673af:0xac04204d0d79f0!8m2!3d41.3812387!4d-8.7618634!16s%2Fg%2F11j7d84743?entry=ttu" target="_blank">Ver localização</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img alt="Mercado" src="/assets/images/tasca_m.png" />
          <ion-card-header>
            <ion-card-title>Tasca da Maria Food & Wine</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Maria Food & Wine, o seu destino gastronômico perfeito na encantadora cidade da Póvoa de Varzim!
             Há nove anos, temos o prazer de oferecer uma experiência culinária excepcional, trazendo a essência da tradição 
             e autenticidade para cada prato que servimos. Localizado na primeira linha do mar, o nosso restaurante
             é o lugar ideal para desfrutar de uma refeição deliciosa enquanto aprecia a brisa marítima.
          </ion-card-content>
          <div class="ion-text-center ion-padding-bottom">
            <ion-button color="app" href="https://www.google.com/maps/place/Tasca+da+Maria+Food+%26+Wine/@41.3796279,-8.769883,17z/data=!3m1!4b1!4m6!3m5!1s0xd24468c5a05f5db:0x7aeb2543f4a7a480!8m2!3d41.3796279!4d-8.7673081!16s%2Fg%2F11btws50gt?entry=ttu" target="_blank">Ver localização</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img alt="Mercado" src="/assets/images/farol.jpg" />
          <ion-card-header>
            <ion-card-title>Farol da Póvoa de Varzim</ion-card-title>
          </ion-card-header>
          <ion-card-content>
    Farol da Póvoa: Um Farol de Sabores na Póvoa de Varzim
    O Restaurante Farol da Póvoa, localizado na Avenida dos Banhos, é um dos restaurantes mais tradicionais da Póvoa de Varzim.
    Com uma vista deslumbrante sobre o mar e um ambiente familiar acolhedor, o Farol da Póvoa é o local ideal para saborear o melhor da cozinha portuguesa regional, com destaque para os pratos de peixe fresco e marisco.
          </ion-card-content>
          <div class="ion-text-center ion-padding-bottom">
            <ion-button color="app" href="https://www.google.com/maps/search/Restaurante+de+Cozinha+Tradicional+Portuguesa/@41.3858858,-8.7721439,17z?entry=ttu" target="_blank">Ver localização</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>