.receita-pic {
    box-shadow: 0px 5px var(--ion-color-app);
}

.content {
   // padding-left: 30px;
}

ion-accordion{
    padding: 0.3px;
}

.history-intro {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info-receita {
    padding-left: 30px;
    padding-right: 30px;
}

