<ion-header [translucent]="true">
  <ion-toolbar color="app">
    <ion-title class="ion-text-center">Rabanadas Poveiras</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rabanadas Poveiras</ion-title>
    </ion-toolbar>
  </ion-header>


  <img src="/assets/images/rabana.png" class="profile-pic" alt="Miguel" style="width:100%">
  <ion-label>Ingredientes</ion-label>





</ion-content>
